@import "../styles.scss";

body {
  font-size: 15px;

  @media screen and (min-width: $screen-sm) {
    font-size: 16px;
  }

  @media screen and (min-width: $screen-md) {
    font-size: 18px;
  }
}

h1 {
  font-size: 2.4rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.6rem;
}
h4 {
  font-size: 1.2rem;
}
h5 {
  font-size: 1rem;
}

@media screen and (min-width: $screen-md) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1.5rem;
  }
  h5 {
    font-size: 1rem;
  }
}

.App {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: $roundtrip-color-secondary;
}

.App-bar {
  display: flex;
  justify-content: space-evenly;
  background-color: $roundtrip-color-primary;
  height: 2.5rem;
}

.App-header {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.App-body {
  flex: 1;
  margin-top: 2.5rem;
}

.App-footer {
  text-align: center;
  vertical-align: middle;
}

.bar-lang {
  margin-top: 0.25rem;
}
