@import "../styles.scss";

.container-logo {
  display: flex;
  justify-content: center;
  margin-top: 2.5rem;
}

.footer-logo {
  @media only screen and (max-width: $screen-md - $onePixel) {
    width: 18.75rem;
    height: 12.5rem;
  }

  @media only screen and (min-width: $screen-md) {
    width: 23.438rem;
    height: 15.625rem;
  }
}

.footer-row {
  width: 40%;
  margin: auto;
}

.row {
  border-top: 3px solid $roundtrip-color-primary;
  margin-bottom: 0.625rem;
}
